<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500086390489-25mhtpjpnvnv24jie8kt9kumuovgmbu1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500086390489-25mhtpjpnvnv24jie8kt9kumuovgmbu1</string>
	<key>API_KEY</key>
	<string>AIzaSyAe91PCWniK9BNo9RnG-QeVdvw86CU8iTA</string>
	<key>GCM_SENDER_ID</key>
	<string>500086390489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sarh.app.sarh</string>
	<key>PROJECT_ID</key>
	<string>sarh-a4654</string>
	<key>STORAGE_BUCKET</key>
	<string>sarh-a4654.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500086390489:ios:564dc8210995fff6</string>
	<key>DATABASE_URL</key>
	<string>https://sarh-a4654.firebaseio.com</string>
</dict>
</plist>